[Desktop Entry]
Type=Application
Name=UPS
Exec=python3 /home/pi/Raspberry-Pi-5-Waveshare-UPS-3S/UPS.py
Icon=python3
Terminal=true
Categories=Utility;
